<!DOCTYPE html>
<html>
    <head>
        <title>Working with Forms...</title>
    </head>

    <body>
        <form method="POST" action="postdata">
            Enter NAme: <input type="text" name="userName" /><br/><br/>
            Enter Age: <input type="number" name="userAge"/><br/><br/>
            <input type="submit" value="Click To Add Employee" />
        </form><br/><br/>

        <form method="POST" action="postother">
            Enter User Name: <input type="text" name="customUserName" /><br/><br/>
            Enter User Age: <input type="number" name="customUserAge"/><br/><br/>
            <input type="submit" value="Click To Add Employee" />
        </form>
        
    </body>
</html>